<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipo Docente</title>
</head>
<body>
    <h2>
        Profesores
    </h2>
    <p>
      Ángel Jiménez Molina<br>
        Iván Diaz Campos
    </p>

    <h2>
        Profesores Auxiliares
    </h2>

    <p>
      Javiera Ovalle<br>
        Jorge Pinto<br>
        José Canto<br>
        Macarena Osorio
    </p>

    <h2>
        Ayudantes
    </h2>

    <p>
        Carlos Vega<br>
        Catalina Martin<br>
        Eduardo Valeria<br>
        Juan Gutiérrez<br>
        Matías Rojas<br>
        Nicolás Villa<br>
        Sebastián Donoso<br>
        Sofia Herrera<br>
        Victoria Arce
    </p>

    <a href="{% url 'index' %}">Hola, soy un enlace al ejemplo del aux</a>
    <br>
    <a href="{% url 'pestaña' %}">Hola, soy un enlace a otra pestaña del proyecto</a>
</body>
</html>